
/* используя grid расположить по 3 карточки в ширину с отступами между ними в 20px */

/* выводить кнопку удаления при наведении курсором на карточку */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-container {
    padding: 20px;
    margin: 20px auto; /* auto - при максимальной ширине контейнер становится по центру*/
    width: 90%;
    max-width: 1200px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px); /*200 - ширина квадратов, auto-fill - поместим в контейнер столько квадратов, сколько поместится*/
    grid-auto-rows: 200px; /*200 - высота квадратов*/
    gap: 20px;
    justify-content: center;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.product-item {
    padding: 10px;
    border: 2px solid black;
    /* width: 200px; */
    /* height: 200px; */
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.product-item:hover .delete_btn {
    background-color: blue;

    /* display: block; */

/* значение по наведению*/
    transform: translate(50%, -50%) scale(1) rotate(360deg);

}

.delete_btn {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(231, 116, 96);
    font-size: 20px;
    font-weight: 900;

    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    /* display: none; */

    /* исходное значение*/
    transform: translate(50%, -50%) scale(0);
    transition: transform 0.5s; 
}