/* Обнуление стилей для элементов, которые имеют их по умолчанию - например - параграф, заголовок */
* {
    margin: 0;
    padding: 0;
}

.card {
    width: 250px;
    border: 1px solid black;
    background-color: beige;
    padding: 10px;
    margin: 10px;
}
.card p {
    margin: 10px 0px;
}

.photo {
    display: block; /* img стал вести себя как блочный элемент */
    
    /* display: inline;  */
    /* чтобы элемент стал вести себя как строчный */
}