* {
padding: 0;
margin: 0;
}

/* html {
    height: 100%;
}
body {
    height: 100%;
} */
.grid_item {
    border: 1px solid black;
    padding: 20px;
    /* text-align: center; */

    display: flex;
    justify-content: center; /* выстраивает элементы вдоль основной оси внутри контейнера */
    align-items: center; 
}
    /* justify-items - сколько места занимают элементы - стреч по умолчанию - занимает все место в ячейке */
    /* https://html5.by/blog/flexbox/ */
    /* https://gridbyexample.com/examples/ */





.grid_container {
    display: grid;
    /* grid-template-columns: 50% 25% 25%; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: 100px 1 fr 2fr 200px; */
    grid-template-columns: (repeat(3, 1fr));


}
/* fr - fraction - единица измерения - работает только внутри гридов - часть от экрана
 */
 
 /* .grid_container_2 {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas: 
    'header header'
    'sidebar content'
    'footer footer';
  } */
  
  .grid_container_2 {
    height: 100vh;
    display: grid;
    grid-template: 
    [start] 'header header' 70px [row2]
    [row2] 'sidebar content' 1fr [row3]
    [row3] 'footer footer' 70px [row-end] / 200px 1fr;

    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* grid-gap: 10px */
  }

  .grid_header,
  .grid_sidebar,
  .grid_content,
  .grid_footer {
    border: 1px solid black;
    padding: 10px;
  }
  
  .grid_header {
    grid-area: header;
  }
  
  .grid_sidebar {
    grid-area: sidebar;
  }
  
  .grid_content {
    grid-area: content;
  }
  
  .grid_footer {
    grid-area: footer;
  }
  
